body {
    font-family: sans-serif;
    font-size: 15px;
}

#div1 {
    width: 700px;
    min-height: 250px;
    margin: 0 auto;
    background-color: #c6d2e645;
    border: 1px solid #9e9e9e3d;
    border-radius: 1%;
    padding: 0 25px;
    text-align: left;
}

#form_buttons {
    width: 600px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    text-align: center;
}

#edit {
    background: yellow;
    height: 25px;
    width: 55px;
    border: 1px solid yellow;
    border-radius: 6%;
}

#edit:hover {
    box-shadow: 0 0 8px rgba(229, 233, 7, 0.897);
}

#style {
    color: white;
    height: 25px;
    width: 55px;
    background: #9796f0;
    border: 1px solid #9796f0;
    border-radius: 6%;
}

#style:hover {
    box-shadow: 0 0 8px rgba(51, 162, 182, 0.8);
}

#div2 {
    width: 700px;
    min-height: 200px;
    margin: 0 auto;
    background-color: #c6d2e645;
    border: 1px solid #9e9e9e3d;
    border-radius: 1%;
    padding: 25px;
}

#f1 {
    display: none;
}

#f2, #radiobt{
    margin-left: -5px;
}

#wrapper {
    width: 160px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 85px;
    right: 100px;
    display: none;
}

#box {
    width: 50px;
    height: 50px;
    outline: 1px solid black;
    border-collapse: collapse;
}

#add {
    background: red;
    color: white;
    height: 25px;
    width: 55px;
    border: 1px solid red;
    border-radius: 6%;
}

#add:hover {
    box-shadow: 0 0 8px rgba(247, 66, 66, 0.8);
}

#save {
    background: rgb(0, 255, 115);
    color: white;
    height: 25px;
    width: 55px;
    border: 1px solid rgb(0, 255, 115);
    border-radius: 6%;
}

#save:hover {
    box-shadow: 0 0 8px rgba(75, 247, 69, 0.8);
}

#div3 {
    display: none;
    width: 700px;
    height: 315px;
    margin: 0 auto;
    padding: 0 25px;
    background-color: #c6d2e645;
    border: 1px solid #9e9e9e3d;
    border-radius: 1%;
    position: relative;
}

#div4 {
    display: none;
    width: 700px;
    min-height: 250px;
    padding: 0 25px;
    margin: 0 auto;
    background-color: #c6d2e645;
    border: 1px solid #9e9e9e3d;
    border-radius: 1%;
}

#f6 {
    display: none;
    margin: 5px auto;
    padding-bottom: 30px;
    padding-left: 2px;
}

#f7 {
    display: none;
    margin: 5px auto;
    padding-left: 2px;
}

.label {
    float: left;
}

#tt {
    float: right;
    border: double;
    border: groove;
}

#textarea {
    width: 689px;
    height: 142px;
    line-height: 20px;
    margin-bottom: 10px;
}

#fontFam {
    width: 261px;
    height: 29px;
}

#color {
    width: 89px;
    height: 30px;
    color: white;
    background: dimgrey;
    border: 1px solid dimgrey;
    border-radius: 4px;
}

#bgColor {
    width: 118px;
    height: 30px;
    color: white;
    background: dimgrey;
    border: 1px solid dimgrey;
    border-radius: 4px;
}

#label {
    float: left;
    padding-right: 15px;
    width: 110px;
    line-height: 32px;
}

.group {
    padding: 7px 0;
}

.group1_all {
    display: flex;
    justify-content: space-between;
    padding: 7px 0;
    width: 697px;
}

.group1 {
    float: left;
}

#label1 {
    padding-right: 19px;
    line-height: 32px;
}

.inp_table {
    padding: 8px;
    border: 1px solid lightgray;
}

.brd_sel {
    width: 88px;
    padding: 7px;
    border: 1px solid lightgray;
}

.create {
    background: rgb(0, 255, 115);
    color: white;
    height: 28px;
    width: 96px;
    border: 1px solid rgb(0, 255, 115);
    border-radius: 6%;
}

#createList{
    margin-top: 5px;
}

.create:hover {
    box-shadow: 0 0 8px rgba(75, 247, 69, 0.8);
}

#typeMarks {
    width: 572px;
    padding: 8px;
    border: 1px solid lightgray;

}